.info__section {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bntEnableEditing {
    left: 81%;
    position: relative;
}

.profile__image {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    object-fit: cover;
}

.attractions__follow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.comments__follow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btnUpdate {
    left: -19%;
    top: -1px;
    position: relative;
    height: 50px;
}

.attractions__follow {
    margin-top: 6vh;
    margin-bottom: 6vh;
}

.attractions__follow {
    margin-bottom: 16px;
}

.attractions__follow__title {
    margin-top: 19px;
    margin-bottom: 20px;
}

.place__tile:hover {
    color: blue !important;
    margin-bottom: 10px;
    border: 3px solid black !important;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
}

.follow__section .btn {
    padding-top: 0px;
    top: -26px !important;
}

.matCard__image {
    width: 112%;
    height: 72%;
}

.place__general {
    margin-bottom: 3vw;
    margin-right: 48px;
}

.mCard__follow {
    width: 259px;
    height: 281px;
}

.comments__create {
    padding-bottom: 20px;
}

.matCard__comment {
    background-color: black;
}

.matCard__comment__header {
    color: white;
}

@media (max-width: 575.98px) {
    .profile__image {
        display: none;
    }
    .btnUpdate {
        left: -51%;
    }
    .bntEnableEditing {
        left: 63%;
    }
    .btnUpdate,
    .bntEnableEditing {
        margin-bottom: 30px;
    }
    .mCard__follow {
        width: 336px;
    }
    .matCard__image {
        width: 111%;
    }
    .matCard__comment {
        margin-top: 20px;
    }
}