<h1>Profile</h1>
<div class="main__container">
    <section class="info__section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 form__dataUser">
                    <h3>Informacion Personal</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="follow__section">
        <div class="container">
            <div class="row">
                <div class="col-5  attractions__follow">
                    <h4>Sitios Seguidos</h4>
                </div>
                <div class="col-5 comments__follow">
                    <h4>Comentarios</h4>
                </div>
            </div>
        </div>
    </section>
</div>