<div class="main__container">
    <section class="info__section">
        <div class="container-fluid">
            <div class="row">
                <h3>Informacion Personal</h3>
                <div class="col-md-12 col-sm-12 form__dataUser">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <ng-container *ngIf="isUpdateInit">
                                <button type=" submit " class="btn btn-outline-primary float-right mr-2 btnUpdate " [ngClass]="{ 'disabled':!formGroupSession.valid} " (click)="updateProfile()" *ngIf="!isLoadingImage">Actualizar</button>
                            </ng-container>
                            <button class="btn btn-primary bntEnableEditing" (click)="enableEdit()" [ngClass]="{'disabled': isUpdateInit}">Editar</button>
                        </div>
                    </div>
                    <form [formGroup]="formGroupSession" id="formGroupSession" class="row">
                        <div class="form-group col-sm-12  col-md-4 col-lg-4 d-block">
                            <img class="profile__image" [src]="userLog.profile_photo" *ngIf="userLog && !isUpdateInit" alt="">
                            <app-upload-form [isMultiLoad]="false" [imageAcction]="userLog?userLog.profile_photo:null" *ngIf="isUpdateInit"></app-upload-form>
                        </div>
                        <div class="col-sm-12 col-md-7 col-lg-7">
                            <div class="row">
                                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                                    <label for="email_session">Correo</label>
                                    <input type="text" class="form-control" formControlName="email_session" id="email_session" placeholder="Correo" readonly>
                                </div>
                                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                                    <label for="nationality_session">Nacionalidad</label>
                                    <input type="text" class="form-control" formControlName="nationality_session" id="nationality_session" placeholder="Nacionalidad" [readonly]='!isUpdateInit'>
                                </div>
                                <div class="form-group col-12">
                                    <label for="name_session">Nombre de Usuario</label>
                                    <input type="text" class="form-control" formControlName="name_session" id="name_session" placeholder="Escriba el nombre de Usuario" [readonly]='!isUpdateInit'>
                                </div>
                                <div class="form-group col-12">
                                    <label for="descriprion_session">Descripcion</label>
                                    <input type="text" class="form-control" formControlName="descriprion_session" id="descriprion_session" placeholder="Descripcion" [readonly]='!isUpdateInit'>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="follow__section " *ngIf="isFollowing">
        <div class="container-fluid">
            <div class="row attractions__follow">
                <div class="attractions__follow__title col-12  text-center">
                    <h4>Sitios Seguidos</h4>
                </div>
                <div class="col-md-2 col-sm-12 place__general" *ngFor="let place of followAttraction; let i=index">
                    <mat-card class="mCard__follow" (click)="seePlace(place.name)">
                        <mat-card-header>
                            <mat-card-title class="text-center">{{place.name}}</mat-card-title>
                        </mat-card-header>
                        <ng-container *ngIf="place.images[0].imageUrl==='' || place.images[0].imageUrl===null; else elseTemplate">
                            <img mat-card-image src="../../../assets/images/no-image.jpg" class="card-img matCard__image" alt="...">
                        </ng-container>
                        <ng-template #elseTemplate>
                            <img mat-card-image [src]="place.images[0].imageUrl" class="card-img matCard__image" alt="...">
                        </ng-template>
                    </mat-card>
                </div>
            </div>
        </div>
    </section>

    <section class="comments__section ">
        <div class="container-fluid ">
            <div class="row comments__create">
                <div class="col-12  text-center">
                    <h4>Comentarios</h4>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4" *ngFor="let comment of commentsDone$|async">
                    <mat-card class="matCard__comment">
                        <mat-card-header class="matCard__comment__header">
                            <mat-card-title>{{getAtracttionComment(comment.attractiveId)}}</mat-card-title>
                            <button mat-icon-button (click)="gotoAttraction(comment.attractiveId)"><mat-icon aria-label="Opcion para visitar atractivo">pageview</mat-icon>Visitar</button>
                        </mat-card-header>
                        <mat-card-content>
                            <app-rating [iScore]="comment.score" [iReadOnly]="true"></app-rating>
                            <p class="card-text text-white">{{comment.comment}}</p>
                            <p class="card-text"><small class="text-muted ">Creado el: {{comment.creationDate}}</small></p>
                        </mat-card-content>
                    </mat-card>

                </div>
            </div>
        </div>
    </section>
</div>