<h1>Editor Atractivos</h1>
<div class="main__container">
    <section class="attractions__list">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="tblTabla table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col-2">#</th>
                                    <th scope="col-4">Atractivo</th>
                                    <th scope="col-2">Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let attraction of attractionList$|async; let i=index" [ngClass]="{'table-success': attraction.active, 'table-danger':!attraction.active}">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{attraction.name}}</td>
                                    <td>
                                        <button type="button" class="btn btn-info btnAccion" (click)="editAttraction(attraction,attractiveMaintenance)"><fa name="edit"></fa> Editar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<ng-template #attractiveMaintenance>
    <div class="modal-header">
        <h5 class="modal-title pull-left">Modal title</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formGroupAttractive" id="formGroupAttractive" class="row ">
            <div class="form-group col-12 ">
                <label for="name">Nombre Atractivo</label>
                <input type="text" class="form-control" formControlName="name" id="name" placeholder="Nombre del Atractivo" [attr.disabled]="acctionMantenance==1">
                <div *ngIf="formGroupAttractive.controls[ 'name'].dirty ">
                    <div class="form-control-feedback text-danger " *ngIf="formGroupAttractive.controls[ 'name'].errors?.required ">
                        El Nombre del Atractivo es requerido
                    </div>
                    <div class="form-control-feedback text-danger " *ngIf="formGroupAttractive.controls[ 'name'].errors?.minlength ">
                        El Nombre del Atractivo debe ser de al menos 5 caracteres
                    </div>
                </div>
            </div>
            <div class="form-group col-12 ">
                <label for="description">Detalle</label>
                <input type="text" class="form-control" formControlName="description" id="description" placeholder="Descripcion">
                <div *ngIf="formGroupAttractive.controls[ 'description'].dirty ">
                    <div class="form-control-feedback text-danger " *ngIf="formGroupAttractive.controls[ 'description'].errors?.required ">
                        El Nombre del Atractivo es requerido
                    </div>
                    <div class="form-control-feedback text-danger " *ngIf="formGroupAttractive.controls[ 'description'].errors?.minlength ">
                        El Nombre del Atractivo debe ser de al menos 5 caracteres
                    </div>
                </div>
            </div>
            <div class="form-group col-12 ">
                <label for="videUrl">Video</label>
                <input type="text" class="form-control" formControlName="videUrl" id="videUrl" placeholder="Descripcion">
            </div>
            <div class="form-group col-12 ">
                <img class="profile__image" [src]="attractionMantenance.images[0].imageUrl" alt="">
                <hr>
                <!-- <input type="hidden" #imgUserInput class="form-control" formControlName="images" id="images" [value]='urlImage|async'>
                <ng-container>
                    <div class="custom-file">
                        <input type="file" accept=".png, .jpg" (change)="onUpload($event)" class="custom-file-input" id="custom-file-input" [readonly]='!isUpdateInit'>
                        <label class="custom-file-label" for="custom-file-input">Choose file</label>
                    </div>
                    <br>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" [style.width]="(uploadPercent|async)+'%'"></div>
                    </div>
                </ng-container> -->
            </div>
            <!-- <div class="form-group col-12 ">
                <label for="schedule">Horario</label>
                <input type="text" class="form-control" formControlName="schedule" id="schedule" placeholder="Horario">
            </div> -->
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="editAttractive()">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="decline()">Close</button>
    </div>
</ng-template>