<footer class=" bg-primary page-footer font-small blue pt-4">

    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3 text-center">
                <h5 class="text-uppercase text-white">Trunca Routes</h5>
                <p class="text-white">Información turística a su alcance, ¡Contáctenos!</p>
                <span class="fa fa-google-plus margin-s"></span><span class="fa fa-facebook margin-s"></span><span class="fa fa-instagram margin-s"></span><span class="fa fa-twitter margin-s"></span><span class="fa fa-linkedin margin-s"></span>
            </div>
            <div class="col-md-6 mb-md-0 text-center">
                <h5 class="text-uppercase text-white">Mapa del sitio</h5>

                <ul class="list-unstyled text-white">
                    <li>
                        <a class="text-white" href="#!" routerLinkActive="active" [routerLink]="['/public/home']">Home</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!" routerLinkActive="active" [routerLink]="['/public/about-us']">Quiénes Somos</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!" routerLinkActive="active" [routerLink]="['/public/service']">Servicios</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!" routerLinkActive="active" [routerLink]="['/public/contact']">Contáctenos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright: Troutes
    </div>


</footer>