.footer {
    height: 30vh;
}

.margin-s {
    margin-left: 10px;
    font-size: 30px;
}

.color-hr {
    background-color: antiquewhite !important;
}

@media (max-width: 600px) {
    .footer {
        height: 41.2vh;
    }
}