    #attractiveEditorId {
        padding-bottom: 3px;
        /* border-bottom-width: 0px; */
        margin-bottom: 14px;
        padding-top: 3px;
    }
    
    .btnAccion {
        margin-bottom: 10px;
        margin-right: 10px;
    }