@import "~bootswatch/dist/lux/bootstrap.min.css";
@import "~ng-snotify/styles/material";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
.font-style__Joschmi {
    font-family: joschmi, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.font-style__xants_regular {
    font-family: xants, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-style__CarlMarx_bold {
    font-family: carlmarx, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.font-style__CarlMarx_regular {
    font-family: carlmarx, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-style__sarina_regular {
    font-family: sarina, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-style__alegreya_italic {
    font-family: alegreya, serif;
    font-weight: 700;
    font-style: italic;
}

.section__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-size: 70px;
    align-content: center;
}

.content__style {
    height: 50vh;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}