.dashboard__image {
    padding-left: 50px;
}

.profile__image {
    border-radius: 180px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.dashboard__options li a {
    color: white!important;
    width: 100%;
}

.dashboard__profile_data {
    margin-top: 2em;
}

.sidebar {
    height: 100vh;
}

.sidebar-sticky {
    margin-top: -24vh;
}

.nav-tabs {
    border-bottom: 0 solid #eceeef;
}