<div class="row comments__header">
    <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-row justify-content-center">
        <h2>Comentarios</h2>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <button class="btn btn-primary" (click)="newCommentMaintenance(null,mantenerComentario)" *ngIf="currentUser && !userHasComment">Crear reseña</button>
    </div>
</div>
<div class="row ">
    <div class="col-xs-12 col-12 col-sm-12 col-md-12 col-lg-12 ">
        <div class="content-wrapper wContenedor w-100 p-3 ">
            <div class="card-deck">
                <ng-container *ngIf="returnedComments; else elseTemplate">
                    <div *ngFor="let comment of returnedComments; let i=index ">
                        <div class="card text-white bg-dark mb-3 " style="max-width: 18rem; ">
                            <div class="card-header text-center font-weight-bold">
                                <!--    Usuario + {{comment.commentId}} -->
                                <button class="btn btn-info" (click)="editCommentMaintenance(comment,mantenerComentario) " *ngIf="currentUser && comment.userId==currentUser.userId">
                                    <fa name="edit"></fa>
                                </button>
                                <button class="btn btn-danger" (click)="deleteCommentMaintenance(comment,deleteAttraction) " *ngIf="currentUser && comment.userId==currentUser.userId">
                                    <fa name="trash"></fa>
                                </button>
                            </div>
                            <div class="card-body text-white">
                                <app-rating [iScore]="comment.score" [iReadOnly]="true"></app-rating>
                                <!-- <app-p-atractivo [iPuntaje]="comentario.puntaje " [iReadOnly]="true "></app-p-atractivo> -->
                                <h5 class="card-title">{{comment.comment}}</h5>
                                <p class="card-text "><small class="text-muted ">Creado el:
                                        {{comment.creationDate}}</small></p>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    <div class="d-flex flex-row justify-content-center">
                        <p class="no__comments">No existen Comentarios</p>
                    </div>
                </ng-template>
            </div>
        </div>
        <ng-container *ngIf="attractiveComments && returnedComments">
            <pagination [totalItems]="attractiveComments.length " [(ngModel)]="currentPage " [itemsPerPage]="itemsPerPage " [maxSize]="paginationMaxSize " (pageChanged)="pageChanged($event) ">
            </pagination>
        </ng-container>


    </div>
</div>


<!-- Modal Comentario -->
<ng-template #mantenerComentario>
    <div class=" modal-header mModal ">
        <h4 class="modal-title pull-left " *ngIf="acctionMantenance==0 ">Nuevo Comentario</h4>
        <h4 class="modal-title pull-left " *ngIf="acctionMantenance==1 ">Editar Comentario</h4>
        <button type="button " class="close pull-right " aria-label="Close " (click)="modalRef.hide() ">
            <span aria-hidden="true ">&times;</span>
        </button>
    </div>
    <div class="modal-body ">
        <div class="container mModal ">
            <form [formGroup]="formGroupComment " id="formGroupComment " class="row ">
                <div class="form-group col-12 ">
                    <label for="comment">Comentario</label>
                    <input type="text" class="form-control " formControlName="comment" id="comment" placeholder="Escriba el comentario ">
                    <div *ngIf="formGroupComment.controls[ 'comment'].dirty ">
                        <div class="form-control-feedback text-danger " *ngIf="formGroupComment.controls[ 'comment'].errors?.required ">
                            El título es requerido
                        </div>
                        <div class="form-control-feedback text-danger " *ngIf="formGroupComment.controls[ 'comment'].errors?.minlength ">
                            La descripción debe ser de almenos 15 caracteres
                        </div>
                    </div>
                </div>
                <div class="form-group col-12 ">
                    <label for="puntaje ">Puntaje</label>
                    <app-rating class="mt-1" [(iScore)]="maintenanceComment.score" [iReadOnly]="acctionMantenance==2? true: false " (oScoreEmitter)="assingNewScore($event) "></app-rating>
                </div>
                <!--                 <div class="form-group col-12 ">
                    <label for="creationDate ">Fecha Creación</label>
                    <input type="datetime " class="form-control " formControlName="creationDate " id="creationDate " readonly>
                </div> -->
            </form>
            <button type="submit " class="btn btn-primary float-right m-b-5 " [ngClass]="{ 'disabled':!formGroupComment.valid} " (click)="commentMantenace()">Guardar</button>
        </div>
    </div>
</ng-template>

<ng-template #deleteAttraction>
    <div class="modal-body text-center">
        <p>Desea Eliminar?</p>
        <button type="button" class="btn btn-default" (click)="appyDelete()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
</ng-template>