    agm-map {
        width: 100vw;
        height: 100vh;
    }
    
    .card_title {
        font-size: 40px;
        color: rgb(4, 136, 48);
    }
    
    .card_title_sch {
        font-size: 40px;
        color: rgb(238, 124, 18);
    }
    
    .card-background {
        background: #000000e1;
    }
    
    .card-backgroundSearching {
        background: #155206c9;
    }
    
    .card-body {
        background: #000000c2;
        text-align: center;
        color: white;
    }
    
    .btn_close {
        margin-left: 83%;
        margin-top: 0%;
        width: 4px;
        background-color: transparent;
    }
    
    .card-head {
        text-align: center;
    }
    
    .btn-floating {
        position: static;
        background-color: transparent;
        width: 5px;
        margin-left: 85%;
    }
    
    .btn-floating:hover {
        color: red;
    }
    
    .btn-sch {
        width: 30px;
        font-size: 20px;
        margin-right: 5px;
        background: transparent;
        color: white;
        border: solid 0.5px white;
    }
    
    .btn-sch:hover {
        background: white;
        color: black;
        border: solid 0.5px black;
    }
    
    .btn-search {
        width: 30px;
        font-size: 20px;
        margin-left: 10px;
        background: transparent;
        color: white;
        border: solid 0.5px transparent;
    }
    
    .btn-search:hover {
        color: #155206c9;
    }
    
    .card-title {
        color: white;
        margin-top: 100%;
        margin-bottom: 10%;
        margin-left: 60%;
    }
    
    .card-over {
        position: fixed;
        top: 5vh;
        width: 350px;
        z-index: 9;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .85)!important;
        border: 1px #363535;
    }
    
    .card-overScedule {
        position: fixed;
        z-index: 9;
        top: 25%;
    }
    
    .card-overSearch {
        align-content: center;
        position: fixed;
        z-index: 9;
        right: 3vw;
        top: 70vh;
    }
    
    .card-overSearchStatus {
        align-content: center;
        position: fixed;
        z-index: 9;
        right: 3vw;
        top: 50vh;
    }
    
    .img-overlay {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        border: solid 2px black;
    }
    
    .label-style {
        visibility: hidden;
    }
    
    .indications-style {
        visibility: hidden;
    }
    
    .img-overlay:hover {
        position: fixed;
        width: 200px;
        height: 200px;
        z-index: 9;
        animation: jello 1s;
    }
    
    .img-overlay:hover~.label-style {
        visibility: visible;
        animation: jello 1s;
        font-size: 25px;
        position: fixed;
        z-index: 9;
        background: black;
    }
    
    .p-indications {
        margin: 10px 10px 10px 10px;
    }
    
    .img-overlay:hover~.indications-style {
        visibility: visible;
        width: 300px;
        animation: jello 1s;
        position: fixed;
        margin-top: 40px;
        margin-left: 10vh;
        font-size: 20px;
        z-index: 9;
        border: solid 2px black;
        background: rgba(90, 2, 2, 0.801);
    }
    
    .btn-close {
        background: transparent;
        border: transparent;
        width: 25px;
        color: white;
    }
    
    .btn-close:hover {
        border-radius: 50%;
        background: #2e0202c2;
        color: #3d3c3cc2;
    }