<section class="section__header text-center" *ngIf="isDataLoaded">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="display-6 mt-4">{{attraction.name}}</h1>
            </div>
            <div class="col-md-12 pt-3">
                <app-rating class="active" [(iScore)]="averageScore" [iReadOnly]="true"></app-rating>
            </div>
            <div class="col-md-6 header__follow">
                <!--  <button class="btn btn-primary" *ngIf="!seguidor" (click)="seguir()"><fa name="check-double"></fa> Seguir</button>
                <button class="btn btn-primary" *ngIf="seguidor" (click)="seguir()"><fa name="user-times"></fa> Dejar de seguir</button>
                <button type="button" class="btn btn-info" (click)="openModalHorarios(horariosVisita)">
                            <fa name="clipboard-list"></fa> Seguidores <span class="badge badge-light">{{atractivoSeguidores.length>0?atractivoSeguidores.length:0}}</span>
                          </button> -->
            </div>
            <div class="col-md-12 mt-3">
                <div class="d-flex flex-row justify-content-center mt-3 mb-3">
                    <span class="badge badge-danger close__open__badge" *ngIf="validClose()">Cerrado</span>
                </div>
                <div class="row d-flex flex-row justify-content-center mb-3 header__schedule__list">
                    <p class="header__schedule font-weight-bold col-sm-12 col-md-1" *ngFor="let schedule of attractiveSchedule; let i=index " [ngClass]="{ 'header__active__schedule': schedule.active, 'pHorarioNoActivo':!schedule.active} ">{{schedule.scheduleString}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section__content mt-5 mb-5" *ngIf="isDataLoaded">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 ">
                <p>{{attraction.description}}</p>
            </div>
        </div>
    </div>
</section>
<section class="section__media" *ngIf="isDataLoaded">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-5 mb-5">
                <div class="card-deck images_cards">
                    <div class="col-sm-12 col-md-4 col-lg-4" *ngFor="let attractiveImage of _albums; let i=index ">

                        <div class="card media_card">
                            <img [src]="attractiveImage.src" class="card-img cImg " alt="... " (click)="openView(i) ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row media__video d-flex flex-row justify-content-center">
            <iframe class="iVideo mt-5 mb-5" [src]="attraction.videUrl | domSecurity " frameborder="0 " allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture " allowfullscreen></iframe>
        </div>
    </div>
</section>

<section class="section__comments mt-5" *ngIf="isDataLoaded">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <app-comments [attractiveId]="attraction.attractionId" [showReview]="showReview" (scoreEmmitter)="averageScoreMethod($event)"></app-comments>
            </div>
        </div>
    </div>
</section>




<!-- Modal Horario -->
<ng-template #horariosVisita>
    <div class="modal-header ">
        <h4 class="modal-title pull-left ">Horarios de Visita</h4>
        <button type="button " class="close pull-right " aria-label="Close" (click)="modalRef.hide() ">
            <span aria-hidden="true ">&times;</span>
          </button>
    </div>
    <div class="modal-body ">
        <div class="container ">
            <div class="row ">
                Los horarios de visita son
            </div>
        </div>
    </div>
</ng-template>