<section class="section__header text-center" *ngIf="isDataLoaded">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="display-6 mt-4">{{attraction.name}}</h1>
            </div>
            <div class="col-md-12 pt-3">
                <h2>Seguidores:{{followersCount}} | {{isfollow}}</h2>
                <app-rating class="active" [(iScore)]="averageScore" [iReadOnly]="true"></app-rating>
            </div>
            <div class="col-md-6 header__follow" *ngIf="currentUser">
                <button class="btn btn-primary" *ngIf="!isfollow" (click)="follow()"><fa name="check-double"></fa> Seguir</button>
                <button class="btn btn-primary" *ngIf="isfollow" (click)="follow()"><fa name="user-times"></fa> Dejar de seguir</button>
            </div>
            <div class="col-md-12 mt-3">
                <div class="d-flex flex-row justify-content-center mt-3 mb-3">
                    <span class="badge badge-danger close__open__badge" *ngIf="_scheduleService.validClose()">Cerrado</span>
                </div>
                <div class="row d-flex flex-row justify-content-center mb-3 header__schedule__list">
                    <p class="header__schedule font-weight-bold col-sm-12 col-md-1" *ngFor="let schedule of attractiveSchedule; let i=index " [ngClass]="{ 'header__active__schedule': schedule.active, 'pHorarioNoActivo':!schedule.active} ">{{schedule.scheduleString}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section__content mt-5 mb-5" *ngIf="isDataLoaded">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 ">
                <p>{{attraction.description}}</p>
            </div>
        </div>
    </div>
</section>
<section class="section__media" *ngIf="isDataLoaded">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-5 mb-5">
                <div class="card-deck images_cards">
                    <div class="col-sm-12 col-md-4 col-lg-4" *ngFor="let attractiveImage of _albums; let i=index ">

                        <div class="card media_card">
                            <img [src]="attractiveImage.src" class="card-img cImg " alt="..." (click)="openView(i) ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row media__video d-flex flex-row justify-content-center">
            <iframe class="iVideo mt-5 mb-5" [src]="attraction.videUrl | domSecurity " frameborder="0 " allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture " allowfullscreen></iframe>
        </div>
    </div>
</section>

<section class="section__comments mt-5" *ngIf="isDataLoaded">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <app-comments [attractiveId]="attraction.attractionId" [isAttractive]="true" [showReview]="showReview" (scoreEmmitter)="averageScoreMethod($event)"></app-comments>
            </div>
        </div>
    </div>
</section>