<nav class="navbar navbar-toggleable-sm navbar-expand-lg  navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/public/home']">Trunca Routes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="mr-auto"></div>
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['/public/home']"><a class="size-font"><span class="fa fa-home"></span></a> Home</a>
            <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['/public/service']"><a class="size-font"><span class="fa fa-calendar"></span></a> Servicios</a>
            <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['/public/location']"><a class="size-font"><span class="fa fa-map-marker"></span></a> Ubicación</a>
            <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['/public/about-us']"><a class="size-font"><span class="fa fa-users "></span></a> Quiénes Somos</a>
            <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['/public/contact']"><a class="size-font"><span class="fa fa-phone"></span></a> Contácto</a>
            <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="[route]"><a class="size-font"><span class="fa fa-user "></span></a>{{state}}</a>

        </div>
    </div>
</nav>