<link rel="stylesheet" href="https://use.typekit.net/qlg2swg.css">

<section class="font-style__xants_regular section__title text-center bg-primary text-white">
    <p>DIRECTORIO</p>
</section>
<hr>

<section>



    <div class="card">
        <div class="card-header">
            <p class="title__style"><a class="size-font"><span class="fa fa-envelope"></span></a> Correos</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Administración: admintourist@troutes.com</li>
            <li class="list-group-item">Recursos Humanos: rrhhtroutes@troutes.com</li>
            <li class="list-group-item">Servicios: servicestroutes@troutes.com</li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
            <p class="title__style"><a class="size-font"><span class="fa fa-phone"></span></a> Teléfonos</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Recepción: (+506) 2222-7898</li>
            <li class="list-group-item">Recursos Humanos: (+506) 2465-7876</li>
            <li class="list-group-item">Atención al Cliente: (+506) 4568-9807</li>
        </ul>
    </div>

</section>