.tab-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

#nav-tabContent {
    margin-top: 50px;
    margin-bottom: 50px;
}

.nav-item {
    color: white;
}

.nav-item:hover {
    font-weight: bold;
}

@media (max-width: 575.98px) {
    .options__forms {
        width: 100% !important;
    }
    .nav-item {
        margin-right: -8px!important;
    }
}

.btn-social {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-google {
    background: #dd4b39;
}

.btn-facebook {
    background: #3b5998;
}