<section class="login__section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="options__forms mx-auto w-50 p-3 bg-primary mt-5 mb-5 text-white text-center">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">LogIn</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Register</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Reset Password</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent mt-5">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <form [formGroup]="formGroupSession" id="formGroupSession" class="row">
                                <div class="form-group col-12">
                                    <label for="email_session">Login</label>
                                    <input class="form-control" formControlName="email_session" id="email_session" type="email" placeholder="Correo">
                                </div>
                                <div class="form-group col-12">
                                    <label for="password_session">Contraseña</label>
                                    <input class="form-control" formControlName="password_session" id="password_session" type="password" placeholder="Contraseña">
                                </div>
                                <button type="submit" class="btn btn-secondary mx-auto" [ngClass]="{'disabled': !formGroupSession.valid}" (click)="login()">Login</button>
                            </form>
                            <hr>
                            <button class="btn btn-block btn-social btn-google " (click)="_loginService.loginGoogle()">
                                <span class="fa fa-google"></span> GOOGLE
                            </button>
                            <button class="btn btn-block btn-social btn-facebook " (click)="_loginService.loginFacebook()">
                                <span class="fa fa-facebook" ></span> FACEBOOK
                            </button>
                        </div>


                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <form [formGroup]="formGroupRegister" id="formGroupRegister" class="row">
                                <div class="form-group col-12">
                                    <label for="fullName_register">Nombre Completo</label>
                                    <input class="form-control" formControlName="fullName_register" id="fullName_register" type="email" placeholder="Nombre Completo">
                                </div>
                                <div class="form-group col-12">
                                    <label for="email_register">Login</label>
                                    <input class="form-control" formControlName="email_register" id="email_register" type="email" placeholder="Correo">
                                </div>
                                <div class="form-group col-12">
                                    <label for="password_register">Contraseña</label>
                                    <input class="form-control" formControlName="password_register" id="password_register" type="password" placeholder="Contraseña">
                                </div>
                                <button type="submit" class="btn btn-secondary mx-auto" [ngClass]="{'disabled': !formGroupRegister.valid}" (click)="register()">Login</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <form [formGroup]="formGroupResetPassword" id="formGroupResetPassword" class="row">
                                <div class="form-group col-12">
                                    <label for="email_reset">Correo</label>
                                    <input class="form-control" formControlName="email_reset" id="email_reset" type="email" placeholder="Correo">
                                </div>
                                <button type="submit" class="btn btn-secondary mx-auto" [ngClass]="{'disabled': !formGroupResetPassword.valid}" (click)="resetPassword()">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>