<div>
    <p>User</p>
    <h1 *ngIf="user">{{user.name}}</h1>
</div>




<nav class="nav flex-column align-bottom">
    <a class="nav-link text-center" [routerLink]="['/secure','attraction-editor']">Editar sitios</a>
</nav>



<!-- <nav class="nav flex-column align-bottom">
    <a class="nav-link text-center" [routerLink]="['/secure', 'news-admin','1']">About us</a>
</nav> -->








<!-- <main>
    <section class="carousel__view">
        <div class="container-fluid d-flex justify-content-center">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <app-carrousel></app-carrousel>
                </div>
            </div>
        </div>
    </section>
    <section class="places__group">
        <div class="container-fluid">
            <div class="row places__row">
                <div class="col-12 text-center places__title">
                    <h2>Atractivos Turisticos</h2>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-2 col-sm-12 place__general" *ngFor="let place of attractions$|async|slice:0:10; let i=index">
                            <div class="place__tile card bg-dark border-secondary text-primary text-center" (click)="seePlace(place.name)">
                                <ng-container *ngFor="let image of place.images|slice:0">
                                    <img [src]="image.imgUrl" class="card-img" alt="...">
                                </ng-container>
                                <div class="card-img-overlay">
                                    <h6 class="card-title">{{place.name}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary places__all" [routerLink]="['/secure/atractivos']">Ver Atractivos</button>
        </div>
    </section>
</main> -->