<!-- <section class="test__section">
    <div>
        <p>User</p>
        <h1 *ngIf="user">{{user.name}}</h1>
        <h1 *ngIf="user">{{user.role}}</h1>
    </div>
    <nav class="nav flex-column align-bottom">
        <a class="nav-link text-center" [routerLink]="['/secure','attraction-editor']">Editar sitios</a>
    </nav>
</section> -->

<main>
    <section class="carousel__view">
        <div class="container-fluid d-flex justify-content-center">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <app-carrousel></app-carrousel>
                </div>
            </div>
        </div>
    </section>
    <section class="places__group">
        <div class="container-fluid">
            <div class="row places__row">
                <div class="col-12 text-center places__title">
                    <h4 class=" size-font font-style__xants_regular ">Atractivos Turísticos</h4>
                </div>
                <div class="col-12">
                    <div class="row">
                        <ng-container *ngFor="let place of attractions$|async|slice:0:10; let i=index">
                            <div class="col-md-2 col-sm-12 place__general" *ngIf="place.active">
                                <div class="place__tile card bg-dark border-secondary text-primary text-center" (click)="seePlace(place.name)">
                                    <ng-container *ngIf="place.images[0].imageUrl==='' || place.images[0].imageUrl===null && place.active; else elseTemplate">
                                        <img src="../../../assets/images/no-image.jpg" class="card-img" alt="...">
                                    </ng-container>
                                    <ng-template #elseTemplate>
                                        <img [src]="place.images[0].imageUrl" class="card-img" alt="...">
                                    </ng-template>
                                    <div class="card-img-overlay">
                                        <h6 class="card-title">{{place.name}}</h6>
                                    </div>
                                </div>
                            </div>
                        </ng-container>


                    </div>
                </div>
            </div>
            <button class="btn btn-primary places__all" [routerLink]="['/public/attraction-list']">Ver Atractivos</button>
        </div>
    </section>
</main>