<section class="carousel__container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="news__header">Noticias del carrusel</h4>
            </div>
            <div class="col-sm-12 col-md-8 carousel__view">
                <carousel id="idCarousel" class="cover carousel__setter">
                    <slide *ngFor="let new of news$|async | slice:0:6; let i=index" (click)="seeNew(new.id)">
                        <img class="img-fluid carousel__imagen" [src]="new.image" alt="First slide">
                        <div class="carousel-caption  carouselTexto">
                            <h3 class="text-white">{{new.tittle}}</h3>
                            <p class="">{{new.postTittle}}</p>
                        </div>
                    </slide>
                </carousel>
            </div>
            <div class="col-sm-12 col-md-4 text-center carousel__list">
                <ul class="list-group group__news">
                    <ng-container *ngFor="let new of news$|async; let i=index">
                        <li class="list-group-item list-group-item-action new__detail" (click)="seeNew(new.newsId)">
                            <img [src]="new.image" class="card-img-top d-none d-sm-block d-md-none" alt="...">
                            <div class="d-flex w-100 justify-content-between new__content">
                                <h5 class="mb-1">{{new.tittle}}</h5>
                                <small>{{new.creationDate}}</small>
                            </div>
                            <p class="mb-1">{{new.postTittle}}</p>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
</section>