.news__image {
    width: 200px;
    height: auto;
    -o-object-fit: fill;
    object-fit: fill;
    margin-left: 50%;
    margin-top: 10px;
}

.news__actions {
    position: relative;
}

.actions {
    position: relative;
}

.action__delete {
    position: absolute;
    bottom: 0;
    right: 0;
}

.action__edit {
    position: absolute;
    top: 0;
    right: 0;
}

.profile__image {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    object-fit: cover;
}

.matCard__new {
    margin-bottom: 15px;
}

.matButton__News {
    margin-left: 50%;
    margin-bottom: 14px;
}