<h1 class="text-center">Noticas Control</h1>
<div>
    <section class="news__section">
        <div class="container-fluid">
            <div class="row">
                <button mat-fab color="primary" class="matButton__News" (click)="newNewsControl(null,newsMaintenance)">Nuevo</button>
            </div>
        </div>
    </section>
    <section class="news__list">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 news__card" *ngFor="let new of newsList$|async; let i=index">
                    <mat-card class="matCard__new">
                        <img mat-card-image [src]="new.image" class="card-img news__image" alt="..." *ngIf="new.image">
                        <img mat-card-image [src]="new.image" class="card-img news__image" alt="..." *ngIf="!new.image">
                        <mat-card-header>
                            <mat-card-title>{{new.tittle}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{new.description}}</p>
                            <p class="card-text"><small class="text-muted">{{new.modifyDate}}</small></p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" (click)="editNewsControl(new,newsMaintenance)">Editar</button>
                            <button mat-raised-button color="warn" (click)="deleteNewsControl(new,deleteNews)">Eliminar</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </section>
</div>


<ng-template #newsMaintenance>
    <div class="modal-header">
        <h5 class="modal-title pull-left">Administrar Noticias</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formGroupNews" id="formGroupNews" class="row ">
            <div class="form-group col-12 d-block">
                <app-upload-form [isMultiLoad]="false" [imageAcction]="newMantenance?newMantenance.image:null"></app-upload-form>
            </div>
            <div class="form-group col-12 ">
                <label for="title">Titulo Noticia</label>
                <input type="text" class="form-control" formControlName="title" id="title" placeholder="Titulo noticia">
                <div *ngIf="formGroupNews.controls['title'].dirty ">
                    <div class="form-control-feedback text-danger " *ngIf="formGroupNews.controls['title'].errors?.required ">
                        El titulo de la noticia es requerido
                    </div>
                    <div class="form-control-feedback text-danger " *ngIf="formGroupNews.controls['title'].errors?.minlength ">
                        El titulo de la noticia debe ser de al menos 5 caracteres
                    </div>
                </div>
            </div>

            <div class="form-group col-12 ">
                <label for="postTitle">Post-Titulo</label>
                <input type="text" class="form-control" formControlName="postTitle" id="postTitle" placeholder="PostTitulo noticia">
                <div *ngIf="formGroupNews.controls['postTitle'].dirty ">
                    <div class="form-control-feedback text-danger " *ngIf="formGroupNews.controls['postTitle'].errors?.required ">
                        El Nombre del Atractivo es requerido
                    </div>
                    <div class="form-control-feedback text-danger " *ngIf="formGroupNews.controls['postTitle'].errors?.minlength ">
                        El Nombre del Atractivo debe ser de al menos 5 caracteres
                    </div>
                </div>
            </div>
            <div class="form-group col-12 ">
                <label for="description">Descripcion de noticia</label>
                <input type="text" class="form-control" formControlName="description" id="description" placeholder="Descripcion de noticia">
                <div *ngIf="formGroupNews.controls['description'].dirty ">
                    <div class="form-control-feedback text-danger" *ngIf="formGroupNews.controls['description'].errors?.required ">
                        La descripcion de la noticia es requerido
                    </div>
                    <div class="form-control-feedback text-danger" *ngIf="formGroupNews.controls['description'].errors?.minlength ">
                        La descripcion de la noticia debe ser de al menos 5 caracteres
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="newsMantenance()" [ngClass]="{'disabled':!formGroupNews.valid}">Guardar</button>
        <!--   <button type="button" class="btn btn-primary" (click)="newsMaintenance()">Guardar</button> -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="decline()">Cerrar</button>
    </div>
</ng-template>

<ng-template #deleteNews>
    <div class="modal-body text-center">
        <p>Desea Eliminar?</p>
        <button type="button" class="btn btn-default" (click)="appyDelete()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
</ng-template>