<div class="row">
    <ng-container *ngFor="let load of currentLoadList">
        <div class="col-12">
            <div class="progress">
                <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': load?.progress + '%' }"></div>
            </div>
            {{load?.progress}}% Complete
        </div>
    </ng-container>
</div>

<ng-container *ngIf="!isMultiLoad; else elseTemplate">
    <label>
       <input type="file" (change)="detectFiles($event)">
    </label>
    <button [disabled]="!selectedFiles" (click)="uploadSingle()">Upload Single</button>
</ng-container>
<ng-template #elseTemplate>
    <label>
       <input type="file" (change)="detectFiles($event)" multiple>
    </label>
    <button [disabled]="!selectedFiles" (click)="uploadMulti()">Upload Multiple</button>
</ng-template>
<section class="loaded__Images">
    <div class="container">
        <div class="row">
            <ng-container *ngFor="let image of imagesForSave; let i=index">
                <div class="col-4 images__manten" *ngIf="image.active">
                    <img [src]="image.imageUrl" alt="">
                    <button class="btn btn-danger" (click)="deleteImage(image)" *ngIf="isMultiLoad">Eliminar</button>
                </div>
            </ng-container>
        </div>
    </div>
</section>